<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html" charset="UTF-8"; X-Content-Type-Options="nosniff" http-equiv="Content-Type" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/foundation.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<title>JDS Framework Tutorial Base</title>
</head>
<body>
	<div class="title-bar">
		<div class="title-bar-left">
			<button class="menu-icon" type="button"></button>
			<span class="title-bar-title">JDS Framework</span>
		</div>
		<div class="title-bar-right">
			<button class="menu-icon" type="button"></button>
		</div>
	</div>
	<div class="grid-x">
		<div class="cell">
			<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
				<button class="menu-icon" type="button" data-toggle></button>
				<div class="title-bar-title">&nbsp;Menu</div>
			</div>
			<div class="top-bar" id="example-menu">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li class="menu-text">Admin</li>
						<li><a href="\">Home</a></li>
						<li>
							<a href="\posts">Posts</a>
							<ul class="menu">
								<li><a href="\posts\56">Post 56</a></li>
								<li>
									<a href="#Item-1B">Item 1B</a>
									<ul class="menu">
										<li><a href="\posts\87">Post 87</a></li>
										<li><a href="#Item-1Bii">Item 1B ii</a></li>
										<li>
											<a href="#Item-1Biii">Item 1B iii</a>
											<ul class="menu">
												<li><a href="#Item-1Biiialpha">Item 1B iii alpha</a></li>
												<li><a href="#Item-1Biiiomega">Item 1B iii omega</a></li>
											</ul>
										</li>
										<li>
											<a href="#Item-1Biv">Item 1B iv</a>
											<ul class="menu">
												<li><a href="#Item-1Bivalpha">Item 1B iv alpha</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li><a href="#Item-1C">Item 1C</a></li>
							</ul>
						</li>
						<li>
							<a href="#Item-2">Item 2</a>
							<ul class="menu">
								<li><a href="#Item-2A">Item 2A</a></li>
								<li><a href="#Item-2B">Item 2B</a></li>
							</ul>
						</li>
						<li><a href="#Item-3">Item 3</a></li>
						<li><a href="#Item-4">Item 4</a></li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="dropdown menu">
						<li class="menu-text">Manager</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	{% block main %} {% endblock %}


	<script type="text/javascript" src="/js/vendor/jquery.js"></script>
	<script type="text/javascript" src="/js/vendor/foundation.js"></script>
	<script type="text/javascript" src="/js/vendor/what-input.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript">
		$(document).foundation();
	</script>
</body>
</html>