<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JDS Framework Tutorial Home</title>
</head>
<body>
	<h1>Home</h1>
	<h2>JDS Framework Application</h2>
	<p>I am learning lots of cool stuff from garyclarke.tech!</p>
	<p>Only works if I use HomeController instead of AbtractController</p>
	
</body>
</html>